CompileFlags:
  Add: [
    "-xcuda",
    "--cuda-host-only",
    "--cuda-path=/usr/local/cuda",
    "--no-cuda-version-check",
    "-I/usr/include/c++/13",
    "-I/usr/local/cuda/targets/x86_64-linux/include",
    "-I/usr/local/cuda/targets/x86_64-linux/include/cccl",
  ]
  Remove: [
    "-gencode*",
    "--generate-code*",
    "-rdc=*",
  ]