CompileFlags:
  Add: [
    "-xcuda",
    "--cuda-host-only",
    "--cuda-path=/usr/local/cuda",
    "--no-cuda-version-check",
    "-I/usr/include/c++/13",
  ]
  Remove: [
    "-gencode*",
    "--generate-code*",
    "-rdc=*",
  ]